//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 09 17 17:00:06 2023

IO_LOC "boardLED[5]" 16;
IO_PORT "boardLED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[4]" 15;
IO_PORT "boardLED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[3]" 14;
IO_PORT "boardLED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[2]" 13;
IO_PORT "boardLED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[1]" 11;
IO_PORT "boardLED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "boardLED[0]" 10;
IO_PORT "boardLED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "HIN_T" 53;
IO_PORT "HIN_T" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "HIN_S" 55;
IO_PORT "HIN_S" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "HIN_R" 54;
IO_PORT "HIN_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "_LIN_T" 36;
IO_PORT "_LIN_T" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "_LIN_S" 38;
IO_PORT "_LIN_S" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "_LIN_R" 37;
IO_PORT "_LIN_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// Hall Sensor
IO_LOC "HS[2]" 42;
IO_PORT "HS[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "HS[1]" 41;
IO_PORT "HS[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "HS[0]" 63;
IO_PORT "HS[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
// Toggle SW
IO_LOC "toggleSW[2]" 75;
IO_PORT "toggleSW[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "toggleSW[1]" 76;
IO_PORT "toggleSW[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "toggleSW[0]" 77;
IO_PORT "toggleSW[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
// Tact SW
IO_LOC "tacSW[3]" 73;
IO_PORT "tacSW[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tacSW[2]" 72;
IO_PORT "tacSW[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tacSW[1]" 71;
IO_PORT "tacSW[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tacSW[0]" 70;
IO_PORT "tacSW[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
//ADC MCP3008
IO_LOC "AD_CLK" 32;
IO_PORT "AD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS" 48;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DIN" 49;
IO_PORT "DIN" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DOUT" 31;
IO_PORT "DOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
//7seg LED
IO_LOC "anode[3]" 25; //E
IO_PORT "anode[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "anode[4]" 26; //D
IO_PORT "anode[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "anode[0]" 27; //DP
IO_PORT "anode[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "anode[5]" 28; //C
IO_PORT "anode[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "anode[1]" 29; //G
IO_PORT "anode[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "anode[6]" 33; //B
IO_PORT "anode[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "anode[2]" 35; //F
IO_PORT "anode[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "anode[7]" 56; //A
IO_PORT "anode[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cathode[0]" 30; //DIG1
IO_PORT "cathode[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cathode[2]" 40; //DIG2
IO_PORT "cathode[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cathode[1]" 34; //DIG3
IO_PORT "cathode[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cathode[3]" 57; //DIG4
IO_PORT "cathode[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
//
IO_LOC "sw2" 3;
IO_PORT "sw2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sw1" 4;
IO_PORT "sw1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
