//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.03 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sat 01 14 16:38:07 2023


IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sw2" 3;
IO_PORT "sw2" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sw1" 4;
IO_PORT "sw1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "boardLED[0]" 10;
IO_PORT "boardLED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "boardLED[1]" 11;
IO_PORT "boardLED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "boardLED[2]" 13;
IO_PORT "boardLED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "boardLED[3]" 14;
IO_PORT "boardLED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "boardLED[4]" 15;
IO_PORT "boardLED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "boardLED[5]" 16;
IO_PORT "boardLED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "H_U" 63;
IO_PORT "H_U" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "H_W" 42;
IO_PORT "H_W" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "H_V" 41;
IO_PORT "H_V" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "HIN_S" 55;
IO_PORT "HIN_S" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "HIN_R" 54;
IO_PORT "HIN_R" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "HIN_T" 53;
IO_PORT "HIN_T" IO_TYPE=LVCMOS33 PULL_MODE=UP;